body{
    background-color: black;
    color: white;
}
h1,h5{
    text-align: center;color: white;
}
h3,h4{
background-color: orangered;
border-radius: 5px;
color: black;
height: 10%;
width: 23%;
padding-left:2% ;
margin-left: 3%;
}
img{
    border-radius:500px;
    width: 80%;
}
.main-menu-parent {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items:center;
}
.main-menu-left {
    width: 100%;
    font-size: larger;
    padding-left: 5%;
}
.main-menu-right {
    background-color: rgba(233, 90, 7, 0.851);
    width: 100%;
    border-top-left-radius: 2000px;
    border-bottom-left-radius:2000px;

}
li{
    list-style: none;
}
.main-menu-parent2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items:center;
}
.main-menu-left2 {
    width: 100%;
    font-size: larger;
    padding-left:8%;
}
.main-menu-right2 {
    background-color: rgba(233, 90, 7, 0.851);
    width:80%;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    text-align: right;}

.main-menu-parent3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items:center;
}
.main-menu-left3 {
    width: 100%;
    font-size: larger;
    padding-left: 10%;
}
.main-menu-right3 {
    background-color: rgba(233, 90, 7, 0.851);
    width: 100%;
    border-top-left-radius: 2000px;
    border-bottom-left-radius: 2000px;
    text-align: left;
}
h6{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
    background-color: orangered;
    color: black;
    border-radius: 20px;
    width: 80px;
}